---
layout: default
---
<div class="home-site">
    <div class="aria-row aria-price-list">
        <h3>Price List</h3>
        <hr>

        <!-- start: section kop surat-->
        {% include pages/price-list/section_kop-surat.html %}
        <!-- end: section kop surat -->

        <!-- start: faktur / nota / kwitansi -->
        {% include pages/price-list/section_fnk.html %}
        <!-- end: faktur / nota / kwitansi -->

        <!-- start: flyer / brosur / pamflet -->
        {% include pages/price-list/section_fbp.html %}
        <!-- end: flyer / brosur / pamflet -->

    </div>
</div>
