<section>
    <h3 class="section-title">FAKTUR / NOTA / KWITANSI</h3>
    <!-- start: layer -->
    <div class="layer">
        <div class="head">Ukuran Jadi : A4 / Folio</div>

        <div class="body">
            <table class="specification">
                <tr>
                    <td>Bahan Kertas</td>
                    <td>Kertas NCR ( Karbon Langsung )</td>
                </tr>
                <tr>
                    <td>Set per buku</td>
                    <td>50 Set ( 100 lembar )</td>
                </tr>
            </table>
            <p class="title">Harga</p>
            <ul>
                <li>Rangkap 1 : Rp 22.000</li>
                <li>Rangkap 2 : Rp 29.500</li>
            </ul>
            <p> warna tambahanan </p>
            <ul>
                <li>Rp 2.000 -- rangkap 2 (per buku)</li>
                <li>Rp 4.500 -- rangkap 3 (per buku)</li>
            </ul>
        </div>

        <div class="foot">
            <p>Minimal order : 20 buku (isi per buku: 150 lembar rangkap 3 dan 100 lembar rangkap 2)</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 5 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->

    <!-- start: layer -->
    <div class="layer">
        <div class="head">Ukuran Jadi : 1/2 folio</div>
        <div class="body">
            <table class="specification">
                <tr>
                    <td>Bahan Kertas</td>
                    <td>Kertas NCR ( Karbon Langsung )</td>
                </tr>
                <tr>
                    <td>Set per buku</td>
                    <td>50 set ( isi per buku: 150 lembar rangkap 3 dan 100 lembar rangkap 2)</td>
                </tr>
            </table>        

            <p class="title">Harga</p>
            <ul>
                <li>Rangkap 2 : Rp 12.000</li>
                <li>Rangkap 3 : Rp 14.000</li>
            </ul>
            <p> warna tambahanan </p>
            <ul>
                <li>Rp 2.000 -- rangkap 2 (per buku)</li>
                <li>Rp 4.500 -- rangkap 3 (per buku)</li>
            </ul>
        </div>

        <div class="foot">
            <p>Minimal order : 40 Buku</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 4 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->

    <!-- start: layer -->
    <div class="layer">
        <div class="head">Ukuran jadi : 1/ 4 folio</div>
        <div class="body">
            <table class="specification">
                <tr>
                    <td>Bahan Kertas</td>
                    <td>Kertas NCR ( Karbon Langsung )</td>
                </tr>
                <tr>
                    <td>Set per buku</td>
                    <td>50 set ( isi per buku: 150 lembar rangkap 3 dan 100 lembar rangkap 2)</td>
                </tr>
            </table>        

            <p class="title">Harga</p>
            <ul>
                <li>Rangkap 2 : Rp 7.000</li>
                <li>Rangkap 3 : Rp 9.500</li>
            </ul>
            <p> warna tambahanan </p>
            <ul>
                <li>Rp 500 -- rangkap 2 (per buku)</li>
                <li>Rp 1.250 -- rangkap 3 (per buku)</li>
            </ul>
        </div>

        <div class="foot">
            <p>Minimal order : 80 Buku</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 4 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->
</section>
