<section>
    <h3 class="section-title">Kop Surat</h3>
    <!-- start: layer -->
    <div class="layer">
        <div class="head">Warna Komposit (warna khusus)</div>

        <div class="body">
            <table class="specification">
                <tr>
                    <td>Kertas</td>
                    <td>HVS 70 gsm/ 80 gsm ( putih)</td>
                </tr>
                <tr>
                    <td>Ukuran</td>
                    <td>A4/ Folio/ Kuarto</td>
                </tr>
            </table>
            <p class="title">Harga</p>
            <ul>
                <li>Cetak 1 warna : Rp 85.000/ rim</li>
                <li>Cetak 2 warna : Rp 95.000/ rim</li>
                <li>Cetak 3 warna : Rp 110.000/ rim</li>
                <li>Cetak 4 warna : Rp 125.00/ rim</li>
            </ul>

        </div>

        <div class="foot">
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 5 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->

    <!-- start: layer -->
    <div class="layer">
        <div class="head">Kerta Tekstur</div>
        <div class="body">
            <table class="specification">
                <tr>
                    <td>Kertas</td>
                    <td>Concorde</td>
                </tr>
                <tr>
                    <td>Ukuran</td>
                    <td>A4/ Folio/ Kuarto</td>
                </tr>
            </table>            

            <p class="title">Harga</p>
            <ul>
                <li>Cetak 1 warna : 350/ lembar</li>
                <li>Cetak 2 warna : 400/ lembar</li>
                <li>Cetak 3 warna : 500/ lembar</li>
                <li>Cetak 4 warna : 600/ lembar</li>
            </ul>
        </div>

        <div class="foot">
            <p>Minimal order : 500 lembar</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 5 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->

    <!-- start: layer -->
    <div class="layer">
        <div class="head">Cetak Fullcolor/ sparasi ( 4/ 0)</div>
        <div class="body">
            <table class="specification">
                <tr>
                    <td>Kertas</td>
                    <td>HVS 100 gsm</td>
                </tr>
                <tr>
                    <td>Ukuran</td>
                    <td>A4/ Folio/ Kuarto</td>
                </tr>
            </table>
            <p class="title">Harga : Rp 180.000/ rim</p>
            <ul>
                <li>Order 10 rim : Rp 135.000/ rim</li>
                <li>Order 20 rim : Rp 110.000/ rim</li>
            </ul>
        </div>

        <div class="foot">
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 5 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->
</section>
