<section>
    <h3 class="section-title">FLYER / BROSUR / PAMFLET</h3>
    <!-- start: layer -->
    <div class="layer">
        <div class="head">Warna komposit (satu warna / warna khusus)</div>

        <div class="body">
            <table class="specification">
                <tr>
                    <td>Bahan Kertas</td>
                    <td>HVS 80 gr</td>
                </tr>
                <tr>
                    <td>Ukuran</td>
                    <td>A4</td>
                </tr>
            </table>
            <p class="title">Harga</p>
            <ul>
                <li>Cetak 1 warna : Rp 55.000 /rim</li>
                <li>Cetak 2 warna : Rp 70.000 /rim</li>
                <li>Cetak 3 warna : Rp 80.000 /rim</li>
            </ul>
        </div>

        <div class="foot">
            <p>Minimal order : 3 rim</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 3 Hari Setelah Kerja</p>
        </div>
    </div>
    <!-- end: layer -->

    <!-- start: layer -->
    <div class="layer">
        <div class="head">Cetak Fullcolor/ sparasi</div>

        <div class="body">
            <table class="specification">
                <tr>
                    <td>Bahan Kertas</td>
                    <td>HVS</td>
                </tr>
                <tr>
                    <td>Ukuran</td>
                    <td>A4 / Folio / Kuarto</td>
                </tr>
            </table>
            <p class="title">Harga : Rp 215.000 /rim</p>
        </div>

        <div class="foot">
            <p>Minimal order : 5 rim</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 5 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->

    <!-- start: layer -->
    <div class="layer">
        <div class="head">Brosur A4 lipat 2 sparasi ( full color) 4/4</div>

        <div class="body">
            <table class="specification">
                <tr>
                    <td>Bahan Kertas</td>
                    <td>Art Paper 120 gr</td>
                </tr>
                <tr>
                    <td>Ukuran</td>
                    <td>A4 (210 mm x 297 mm)</td>
                </tr>
                <tr>
                    <td>Finishing</td>
                    <td>Vernis, Lipat</td>
                </tr>
            </table>
            <p class="title">Harga Global : Rp 850,00- /lembar</p>
            <ul>
                <li>Order 2000 lembar : Rp 750,00- /lembar</li>
                <li>Order 3000 lembar : Rp 650,00- /lembar</li>
                <li>Order 5000 lembar : Rp 550,00- /lembar</li>
            </ul>
        </div>

        <div class="foot">
            <p>Minimal order : 1000 lembar</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 5 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->
</section>

<section>
    <!-- start: layer -->
    <div class="layer">
        <div class="head">Brosur A4 lipat 4 sparasi ( full color) 4/4</div>

        <div class="body">
            <table class="specification">
                <tr>
                    <td>Bahan Kertas</td>
                    <td>Art Paper 120 gr</td>
                </tr>
                <tr>
                    <td>Ukuran</td>
                    <td>210 mm x 380 mm</td>
                </tr>
                <tr>
                    <td>Finishing</td>
                    <td>Vernis</td>
                </tr>
            </table>
            <p class="title">Harga Global : Rp 1.500 /lembar</p>
            <ul>
                <li>Order 2000 lembar : Rp 1.300 /lembar</li>
                <li>Order 3000 lembar : Rp 1.200 /lembar</li>
                <li>Order 5000 lembar : Rp 1.050 /lembar</li>
            </ul>
        </div>

        <div class="foot">
            <p>Minimal order : 1000 lembar</p>
            <p class="title">Metode Pembayaran</p>
            <ul>
                <li>50% (Tanda Jadi)</li>
                <li>50% (Sisa / Pada saat pengiriman)</li>
            </ul>
            <p class="note">Pengiriman Barang 5 Hari Kerja Setelah ACC</p>
        </div>
    </div>
    <!-- end: layer -->

    <!-- start: layer -->
    <div class="layer">
        <div class="head">Paket Seminar Kit</div>

        <div class="body">
            <p class="title">Harga : Rp 45.000 /paket</p>
            <ol class="get">
                <li>Tas Polo + Sablon 1 warna</li>
                <li>Ballpoint. Sablon logo perusahaan dan nama kegiatan</li>
                <li>ID card gantung, sablon</li>
                <li>Notes, Cover cetak full colour ; Isi Cetak 1 Warna</li>
            </ol>
        </div>

        <div class="foot">
            <p>Minimal order : 100 Pcs</p>
        </div>
    </div>
    <!-- end: layer -->
</section>
