<header>
    <div class="site-header">
        
        <div class="top-header">
            <a href="#" class="brand-logo">de@ria</a>
            <div class="slgg">
                <span>Design & Retail Industry Of Art</span>
            </div>
        </div>
        
        <div class="main-menu">
            <ul>
                <a href="{{ site.baseurl }}/"><li class="no-all">Home</li></a>
                <a href="{{ site.baseurl }}/profile"><li class="no-all">About</li></a>
                <a href="{{ site.baseurl }}/service"><li class="no-all">Services</li></a>
                <a href="{{ site.baseurl }}/contact"><li class="no-all">Contact</li></a>
                <a href="{{ site.baseurl }}/price-list"><li class="no-all">Price List</li></a>
            </ul>
        </div>
        
    </div>
</header>
