.aria-price-list {
    @include span-columns(12);

    @include media(max-width 769px) {
        padding: 0 em(30);
    }


    section {
        @include span-columns(12);
        margin-bottom: em(25);
    }


    .layer {
        @include span-columns(4);

        @include media(max-width 769px) {
            @include span-columns(12);
        }

        margin-bottom: em(30);       
        background-color: #ddd;
        border-radius: em(10);
        overflow: hidden;

        .head, .body, .foot {
            padding: em(16);
        }

        .head {
            font-weight: 700;
            font-size: em(20);
            background-color: navy;
            border-bottom: 1px solid yellow;
            color: #ccc;
        }

        .body {

        }

        .foot {
            background-color: tint(navy, 56%);
            color: #111;
        }
    }
}
